# Application Configuration
# APP_MODE can be "client" or "server"
APP_MODE=client
PORT=8080
JWT_SECRET=super-secret-jwt-key-change-in-production
WS_HEARTBEAT_INTERVAL=5s

# SQLite Database Config (Used in "client" mode)
SQLITE_DB_PATH=data/client.db

# MySQL Database Config (Used in "server" mode)
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB_NAME=clever_connect_server

# Seed Admin User Configuration
ADMIN_USERNAME=salman
ADMIN_PASSWORD=136517

# Cloudflare OAuth Integration
CLOUDFLARE_CLIENT_ID=
CLOUDFLARE_CLIENT_SECRET=
CLOUDFLARE_REDIRECT_URL=

